Gray Buttons .btn-gray-200:hover {
  background-color: rgb(114, 114, 114); /* Same as bg-gray-300 */
}

/* Blue Buttons */
.btn-blue:hover {
  background-color: #16253d; /* Same as bg-blue-500 */
  color: white;
}

/* Green Buttons */
.btn-green:hover {
  background-color: #027951; /* Same as bg-green-500 */
  color: white;
}

/* Red Buttons */
.btn-red:hover {
  background-color: #a70c0c; /* Same as bg-red-400 */
  color: white;
  font
}
