body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  margin-top: 200px;
}

#inputCsv {
  border: 1px solid black;
}

td,
tr,
th {
  border: 1px solid black !important;
}
